* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
.flex-space-around1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-center1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  padding: 10rem 0;
  height: 80vh;
  background: url(images/banner.jpg) no-repeat center;
  background-size: cover;
}
.banner {
  width: 100%;
  height: 100%;
}
.features {
}

@media (max-width: 992px) {
  .flex-space-around1 {
    flex-direction: column;
  }
}
